alembic==1.13.1
annotated-types==0.6.0
bcrypt==4.1.2
black==24.4.2
celery==5.4.0
fastapi==0.110.3
frozendict==2.4.4
mypy==1.10.0
mypy-extensions==1.0.0
pre-commit==3.7.1
psycopg2==2.9.9
python-dotenv==1.0.1
requests==2.31.0
requests-ratelimiter==0.6.0
SQLAlchemy==2.0.29
typing==3.7.4.3
urllib3==1.26.18
uvicorn==0.29.0
virtualenv==20.26.1
APScheduler==3.10.4
